<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
  </head>
  <body>
    <%- include('includes/header') %> <!-- res.render()처럼 두번째 인자로 변수 전달 가능-->
    <%- include('includes/aside') %> 
    <main>
      <h1><%= rest.name %></h1> 
      <p>
        <%= rest.cuisine %> | <%=rest.address %>
      </p>
      <p>
        <%= rest.description %>
      </p>
      <p><a href=" <%= rest.website %>">View Website</a></p>
    </main>
  </body>
</html>
