<li class="restaurant-item">
    <article>
      <h2><%= rest.name %></h2>
      <div class="restaurant-meta">
        <p><%= rest.cuisine %></p>
        <p><%= rest.address %></p>
      </div>
      <p>
        <%= rest.description %>
      </p>
      <div class="restaurant-actions">
        <a href="/restaurants/<%= rest.id %> ">View Website</a> <!-- 따옴표 안에 변수가 들어가는 것에 유의-->
      </div>
    </article>
  </li>